.c-campo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-weight: bold;
  font-size: 4rem;
  padding: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  width: 8rem;
  height: 8rem;

  border: 2px solid blue;
  border-radius: 4px;

  color: black;

  margin: 1.2px;
}
