.button-custom {
  display: flex;

  padding: 0.7em 1.5em;
  margin: 0 0.3em 0.3em 0;

  border-radius: 0.5em;

  box-sizing: border-box;

  text-decoration: none;
  font-size: 1em;
  font-weight: 600 !important;
  text-transform: uppercase;
  font-weight: 400;

  color: #ffffff;
  background-color: #3369ff;

  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);

  text-align: center;
  position: relative;
  align-items: center;
  justify-content: center;
}

.button-custom.primary {
  color: white;
  background: hsl(345deg 100% 47%);
}

.button-custom.secondary {
  border: 1px solid;
  color: black;
  background: white;
}

.button-custom.primary:hover {
  background: hsl(345deg 100% 30%);
}
.button-custom.secondary:hover {
  color: white;
  background: hsl(345deg 100% 30%);
}

@media screen and (max-width: 556px) {
  .button-custom {
    font-size: 0.8em;
  }
}
