* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-primary);
}

body {
  display: flex;
  place-items: center;
  justify-content: center;

  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  padding: 10px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f8f8f9;
}


/* Scrollbar style
  ================================================================= */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
